
<ion-content>
  <div class="header"
    slot="fixed">
    <div class="votlar ion-activatable"
      role="button"
      (click)="voltarClicked()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>
  <h1>
    Caso Suspeito
  </h1>

  <div class="veredito">
    Baseado em suas respostas, é provável que esta situação se enquadre como caso suspeito ou provável 
    de doença pelo coronavirus 2019 (COVID-19). No entanto, isto não se trata de um diagnóstico. 
    A orientação é que você procure atendimento em uma unidade de saúde mais próxima para avaliação 
    clínica.
  </div>

  <div class="atendimento-pre">
    <div class="info">
      Você gostaria de agendar um teleatendimento médico?
    </div>

    <div class="me-ligue ion-activatable"
         role="button"
         (click)="openAtendimentoPreClinico()">
      Agendar
    </div>
  </div>

  <div class="pre-itens">Ao se deslocar para uma unidade de saúde, siga as seguintes medidas de proteção individual e etiqueta respiratória:</div>

  <div class="item">Utilize mascara facial, para evitar a transmissão de outras pessoas, durante o trajeto para a unidade de saúde</div>
  <div class="item">Lave as mãos frequentemente com água e sabão, ou higienize com álcool gel 70%.</div>
  <div class="item">Cubra a boca e nariz com um lenço de papel ao tossir e espirrar e jogue no lixo 
    após o uso, ou proteja com o antebraço (nunca com as mãos).</div>
  <div class="item">Evite locais com aglomeração de pessoas.</div>
  <div class="item">Não compartilhe objetos de uso pessoal.</div>

  <!-- <div class="pre-itens" [innerHTML]="'CASO_SUSPEITO.TEXTO_RESTANTE' | translate"></div> -->

  <div class="encontre-dicas">
    <div class="encontre ion-activatable"
         role="button"
         (click)="encontre()">
      <div class="icone"></div>
      <div class="titulo">Unidades de Saúde</div>
      <div class="sub-titulo">Encontre as unidades mais próximas</div>
    </div>
    <div class="dicas ion-activatable"
         role="button"
         (click)="verDicas()">
      <div class="icone"></div>
      <div class="titulo">Dicas</div>
      <div class="sub-titulo">O que você precisa saber e fazer</div>
    </div>
  </div>

  <div class="ok ion-activatable"
       role="button"
       (click)="voltarClicked()">
    OK
  </div>
</ion-content>
